<main>
  <div class="bg-gradient-to-r from-violet-600 to-indigo-600 flex items-center justify-center min-h-screen p-4">
    <div class="bg-white p-8 rounded-2xl shadow-xl w-full max-w-md border border-gray-100" id="auth-container">

      <div id="signin-form-container">
        <div class="text-center mb-8">
          <div
            class="w-16 h-16 bg-gradient-to-r from-blue-500 to-purple-600 rounded-xl mx-auto mb-4 flex items-center justify-center">
            <svg class="w-8 h-8 text-white" xmlns="http://www.w3.org/2000/svg" width="200" height="200"
                 viewBox="0 0 1024 1024">
              <path fill="currentColor"
                    d="M858.5 763.6a374 374 0 0 0-80.6-119.5a375.63 375.63 0 0 0-119.5-80.6c-.4-.2-.8-.3-1.2-.5C719.5 518 760 444.7 760 362c0-137-111-248-248-248S264 225 264 362c0 82.7 40.5 156 102.8 201.1c-.4.2-.8.3-1.2.5c-44.8 18.9-85 46-119.5 80.6a375.63 375.63 0 0 0-80.6 119.5A371.7 371.7 0 0 0 136 901.8a8 8 0 0 0 8 8.2h60c4.4 0 7.9-3.5 8-7.8c2-77.2 33-149.5 87.8-204.3c56.7-56.7 132-87.9 212.2-87.9s155.5 31.2 212.2 87.9C779 752.7 810 825 812 902.2c.1 4.4 3.6 7.8 8 7.8h60a8 8 0 0 0 8-8.2c-1-47.8-10.9-94.3-29.5-138.2zM512 534c-45.9 0-89.1-17.9-121.6-50.4S340 407.9 340 362c0-45.9 17.9-89.1 50.4-121.6S466.1 190 512 190s89.1 17.9 121.6 50.4S684 316.1 684 362c0 45.9-17.9 89.1-50.4 121.6S557.9 534 512 534z"/>
            </svg>
          </div>
          <h2 class="text-2xl font-bold text-gray-800 mb-2">Sign In to Your Account</h2>
          <p class="text-gray-600 text-sm">Access your account to continue</p>
        </div>

        <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()" class="space-y-5">
          <div>
            <label for="login-email" class="block text-sm font-semibold text-gray-700 mb-2">Email</label>
            <input type="email" id="login-email"
                   formControlName="email"
                   class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition-colors"
                   placeholder="your@email.com" required>

            <!--Display invalid email message-->
            @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
              <div class="text-red-500 text-sm">Valid email is required.</div>
            }


          </div>

          <div>
            <label for="login-password" class="block text-sm font-semibold text-gray-700 mb-2">Password</label>
            <input type="password" id="login-password"
                   formControlName="password"
                   class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition-colors"
                   placeholder="••••••••" required>
            @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
              <div class="text-red-500 text-sm">Valid email is required.</div>
            }

          </div>


          <button
            type="submit"
            [disabled]="loginForm.invalid || loading()"
            class="w-full bg-gradient-to-r from-blue-500 to-purple-600 text-white py-3 px-4 rounded-lg font-semibold hover:from-blue-600 hover:to-purple-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 cursor-pointer disabled:cursor-not-allowed disabled:opacity-30"
          >

            <!--Loading Stage in login-->
            @if (!loading()) {
              Sign In
            } @else {
              <svg class="animate-spin h-5 w-5 mx-auto text-white" viewBox="0 0 24 24">
                <circle
                  class="opacity-25"
                  cx="12"
                  cy="12"
                  r="10"
                  stroke="currentColor"
                  stroke-width="4"
                  fill="none"
                ></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"
                ></path>
              </svg>
            }
          </button>


          <ng-template #loadingTpl>
            <div class="flex justify-center items-center gap-2">
              <span class="loader"></span> Logging in...
            </div>
          </ng-template>
        </form>

        <p class="text-center text-gray-600 text-sm mt-8">
          Don't have an account?
          <a href="#" data-container="signup-form-container" id="signup-link-login"
             class="text-blue-600 hover:text-blue-800 font-semibold">
            Sign Up
          </a>
        </p>
      </div>
    </div>
  </div>
</main>
